.card.text-center
	%h2 Bem vindo ao Mudfácil
	%h5 Nunca foi tão fácil mudar
	%p Nós conectamos quem precisa de frete a motoristas e ajudantes.
	-unless current_user.is_complete
		%h4 Notamos que você ainda não finalizou seu cadastro!
		%br
		%p No menu a esquerda seleciona seu tipo de cadastro.
		%p Ao preencher as informações você poderá utilizar a ferramenta por completo.
	-else
		-if current_user.usuario
			%h4 Seu cadastro como usuário está completo!
			%br
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como realizar um frete?
				%p
					%b Menu Novo Frete
				%p Preencha CEP de origem e CEP de destino. Ao gravar será enviado ao Painel, no qual será exibido o resultado da busca por motoristas.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Pra que serve o Painel?
				%p
					%b Menu Painel
				%p Reúne todos seus fretes criados e contém as informações como quantidade de motoristas, distância da origem/destino e status do frete.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como alterar minhas informações de cadastro?
				%p
					%b Menu Editar Usuário
				%p Aqui você pode alterar seus informações de cadastro o quanto precisar.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 E minha senha posso alterar?
				%p
					%b Menu Olá, #{current_user.user_name}
				%p Ao clicar no menu Olá, #{current_user.user_name} vai abrir a opção de alterar senha e de sair da sessão.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como ver o resultado da busca em detalhe?
				%p
					%b Menu Painel
				%p No frete desejado clique em Lista de Motoristas. Na tela será listado todos motoristas encontrados para esse frete.
				%p Cada cartão contém as informações de distância, preços e avaliações do motorista.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como entro em contato com o motorista?
				%p
					%b Menu Painel
				%p No frete desejado clique em Lista de Motoristas. Em cada cartão contém botão de contato do motorista.
				%p Ao clicar será enviado para uma tela com informações do motorista como: endereço, email, telefone e celular.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como avalio o motorista do meu frete?
				%p
					%b Menu Painel
				%p No frete desejado clique em Lista de Motoristas. Em cada cartão contém botão de avaliar.
				%p Ao clicar um pop-up irá surgir pedindo uma nota para o motorista e assim que avaliar o frete será concluído.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Qual a diferença do frete fechado e concluído?
				%p
					%b Menu Painel
				%p Ambos indicam que o frete não está mais ativo. No caso do fechado o frete não foi executado. No caso do concluído o frete foi feito e avaliado.
		-elsif current_user.motorista
			%h4 Seu cadastro como motorista está completo!
			%br
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Pra que serve o Painel?
				%p
					%b Menu Painel
				%p Reúne todos os fretes criados dentro da área delimitada no cadastrado.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como alterar minhas informações de cadastro?
				%p
					%b Menu Editar Motorista
				%p Aqui você pode alterar seus informações de cadastro o quanto precisar.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 E minha senha posso alterar?
				%p
					%b Menu Olá, #{current_user.user_name}
				%p Ao clicar no menu Olá, #{current_user.user_name} vai abrir a opção de alterar senha e de sair da sessão.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como buscar por ajudantes?
				%p
					%b Menu Painel
				%p Para cada frete há a opção de Buscar/Atualizar Ajudantes. Que vai procurar os ajudantes proximos da Origem do Frete ou do ponto se saída dos motoristas.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como ver o resultado da busca de ajudantes em detalhe?
				%p
					%b Menu Painel
				%p No frete desejado clique em Listar Ajudantes, essa opção só é ativa ao realizar a busca por ajudantes.
				%p Na tela será listado todos ajudantes encontrados
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como entro em contato com o ajudante?
				%p
					%b Menu Painel
				%p No frete desejado clique em Listar Ajudante. Em cada cartão contém botão de contato.
				%p Ao clicar se enviado para uma tela com informações do ajudante como: endereço, email, telefone e celular.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como avalio o ajudante?
				%p
					%b Menu Painel
				%p No frete desejado clique em Listar Ajudante. Em cada cartão contém botão de Avaliar.
				%p Ao clicar um pop-up irá surgir pedindo para avaliar o ajudante.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 O que é frete aberto/concluído/fechado?
				%p
					%b Menu Painel
				%p Frete Aberto é o frete que ainda estão buscando motoristas.
				%p Frete Concluído é um frete que não está mais aberto e foi realizado.
				%p Frete Fechado é um frete que não está mais aberto e que o usário desistiu de realizar.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Pra que serve ocultar frete?
				%p
					%b Menu Painel
				%p O frete selecionado não aparecerá mais na lista de fretes. Ele pode ser ocultado por qualquer motivo, mas é usado com mais frequência para limpar a lista dos fretes que não estão mais abertos.
		-elsif current_user.ajudante
			%h4 Seu cadastro como ajudante está completo!
			%br
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Pra que serve o Painel?
				%p
					%b Menu Painel
				%p Reúne todos os fretes criados dentro da área delimitada no cadastrado.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como alterar minhas informações de cadastro?
				%p
					%b Menu Editar Ajudante
				%p Aqui você pode alterar suas informações de cadastro o quanto precisar.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 E minha senha posso alterar?
				%p
					%b Menu Olá, #{current_user.user_name}
				%p Ao clicar no menu Olá, #{current_user.user_name} vai abrir a opção de alterar senha e de sair da sessão.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Como Avaliar Motorista?
				%p
					%b Menu Painel
				%p No botão Avaliar Motorista. Irá abrir um tela para dar a nota ao motorista. Esse botão será habilitado assim que o frete for concluído.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 O que é frete aberto/concluído/fechado?
				%p
					%b Menu Painel
				%p Frete Aberto é o frete que ainda estão buscando motoristas.
				%p Frete Concluído é um frete que não está mais aberto e foi realizado.
				%p Frete Fechado é um frete que não está mais aberto e que o usário desistiu de realizar.
			.card{style: "max-width: 90%; margin-left: 5%; margin-right: 5%;"}
				%h5 Pra que serve ocultar frete?
				%p
					%b Menu Painel
				%p O frete selecionado não aparecerá mais na lista de fretes. Ele pode ser ocultado por qualquer motivo, mas é usado com mais frequência para limpar a lista dos fretes que não estão mais abertos.