= javascript_pack_tag "busca_cep.js"
= javascript_pack_tag "set_mask.js"
.card
	= bootstrap_form_with(model: @frete, url: fretes_path, class: "needs-validation", html: { novalidate: true }) do |f|
		=f.hidden_field :id
		-if @frete.new_record?
			%h5 Novo Frete
		-else
			%h5 Editar Frete
		.row
			.col-md-2
				=f.text_field :cep_origem, class: "c_cep", id: 'cep_origem', required: true
			.col-md-8
				=f.text_field :rua_origem, id: 'rua_origem', required: true
			.col-md-2
				=f.text_field :numero_origem, required: true
			.col-md-4
				=f.text_field :complemento_origem
			.col-md-3
				=f.text_field :bairro_origem, id: 'bairro_origem'
			.col-md-3
				=f.text_field :cidade_origem, id: 'cidade_origem', required: true
			.col-md-2
				=f.select :uf_origem, options_for_select(State.estados, f.object.uf_origem),{}, id: "uf_origem", required: true
		.row
			.col-md-2
				=f.text_field :cep_destino, class: "c_cep", id: 'cep_destino', required: true
			.col-md-8
				=f.text_field :rua_destino, id: 'rua_destino', required: true
			.col-md-2
				=f.text_field :numero_destino, required: true
			.col-md-4
				=f.text_field :complemento_destino
			.col-md-3
				=f.text_field :bairro_destino, id: 'bairro_destino'
			.col-md-3
				=f.text_field :cidade_destino, id: 'cidade_destino', required: true
			.col-md-2
				=f.select :uf_destino, options_for_select(State.estados, f.object.uf_destino),{}, id: "uf_destino", required: true
		.row
			.col-md-4
				=f.select :tamanho, options_for_select([["Poucos itens",1], ["1 Cômodo",2],["2 Cômodos",3],["3 ou mais Cômodos", 4]], f.object.tamanho),{}, required: true
		.row
			.col
				-if @frete.new_record?
					= f.submit "Gravar", id: "btn", class: "btn btn-primary float-right"
				-else
					= f.submit "Salvar Alterações", id: "btn", class: "btn btn-primary float-right"
:javascript
	(function() {
	'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();