= javascript_pack_tag "reveal.js"
= hidden_field_tag :frete_id, @results.first.frete_id
-if current_user.usuario
	-@results.each do |result|
		.card
			.container
				.row
					.col-2
						.row
							=image_tag 'blank-avatar.webp', size: '120x120', class:"img-fluid max-width: 100% height: auto"
						%br
						.row
							%b
								Veículo
							%div
								&nbsp;&nbsp;
								= result.driver.veiculo_texto
					.col-10
						.row
							.col-1
								%b
									Nome
							.col-3
								= result.driver.nome
							.col-4
								.nota
									= result.driver.nota.html_safe
							.col-4
								%table
									%tr
										%td
											=link_to "Contato", result_path(result.id), class: "btn btn-primary float-left btn-sm"
										%td
											-if result.frete.concluido
												=link_to "Avaliar", "#", class: "btn btn-secondary float-left btn-sm disabled", "data-animation" => "fade", "data-reveal-id" => "myModal", "driver_id" => result.driver_id
											-else
												=link_to "Avaliar", "#", class: "btn btn-primary float-left btn-sm", "data-animation" => "fade", "data-reveal-id" => "myModal", "driver_id" => result.driver_id
						%br
						.row
							.col-12
								.row
									.col-4
										%b Origem-Destino
									.col-4
										%b Origem-Motorista
									.col-4
										%b Destino-Motorista
								.row
									.col-4
										= "#{result.origem_destino_km/1000} Km"
									.col-4
										= "#{result.origem_motorista_km/1000} Km"
									.col-4
										= "#{result.destino_motorista_km/1000} Km"
						%br
						.row
							.col-12
								.row
									.col-4
										%b Valor Base
									.col-4
										%b Valor por KM
									.col-4
										%b Valor Total
								.row
									.col-4
										= "R$ #{result.valor_base.real.to_s}"
									.col-4
										= "R$ #{result.valor_km.real.to_s}"
									.col-4
										= "R$ #{(result.valor_base + (result.valor_km/1000*(result.origem_motorista_km + result.destino_motorista_km + result.origem_destino_km))).real.to_s}"
	#myModal.reveal-modal.text-center
		=hidden_field_tag :selected_driver, value: ''
		%h2 Avalie seu frete!
		%p Sua opinião é importante para nós!
		%p Avaliação do motorista
		.rating-wrapper
			%input{type: "radio", name:"rating", id: "star-5"}
				%label{for:"star-5"}
			%input{type: "radio", name:"rating", id: "star-4"}
				%label{for:"star-4"}
			%input{type: "radio", name:"rating", id: "star-3"}
				%label{for:"star-3"}
			%input{type: "radio", name:"rating", id: "star-2"}
				%label{for:"star-2"}
			%input{type: "radio", name:"rating", id: "star-1"}
				%label{for:"star-1"}
		%br
		%br
		%br
		%br
		=button_tag "Avaliar", class: "avaliar-form btn btn-primary btn-sm"
		%a.close-reveal-modal ×
		:javascript
			$('.avaliar-form').on('click', function(e) {
				if($("#star-1").prop('checked') == false && $("#star-2").prop('checked') == false && $("#star-3").prop('checked') == false && $("#star-4").prop('checked') == false && $("#star-5").prop('checked') == false){
					return;
				}

				$.ajax({
					type: 'POST',
					url: '/fretes/concluir/',
					data: JSON.stringify ({
						frete_id: $("#frete_id").val(),
						star_1: $("#star-1").prop('checked'),
						star_2: $("#star-2").prop('checked'),
						star_3: $("#star-3").prop('checked'),
						star_4: $("#star-4").prop('checked'),
						star_5: $("#star-5").prop('checked'),
						driver_id: $("#selected_driver").val(),
					}),
					contentType: "application/json",
					dataType: 'json'
				}).done(function() {
					location.reload();
				});
			});
-elsif current_user.motorista
	-@results.each do |result|
		.card
			.container
				.row
					.col-2
						=image_tag 'blank-avatar.webp', size: '130x130', class:"img-fluid max-width: 100% height: auto"
					.col-10
						.row
							.col-1
								%b
									Nome
							.col-3
								= result.helper.nome
							.col-4
								.nota
									= result.helper.nota.html_safe
							.col-4
								%table
									%tr
										%td
											=link_to "Contato", result_path(result.id), class: "btn btn-primary float-left btn-sm"
										%td
											=link_to "Avaliar", "#", class: "btn btn-primary float-left btn-sm", "data-animation" => "fade", "data-reveal-id" => "myModal", "helper_id" => result.helper_id
						%br
						.row
							.col-12
								.row
									.col-4
										%b Origem-Ajudante
									.col-4
										%b Ajudante-Motorista
									.col-4
										%b Valor Base
								.row
									.col-4
										= "#{result.origem_ajudante_km/1000} Km"
									.col-4
										= "#{result.ajudante_motorista_km/1000} Km"
									.col-4
										= "R$ #{result.valor_base.real.to_s}"
	#myModal.reveal-modal.text-center
		=hidden_field_tag :selected_helper, value: ''
		%h2 Avalie seu frete!
		%p Sua opinião é importante para nós!
		%p Avaliação do ajudante
		.rating-wrapper
			%input{type: "radio", name:"rating", id: "star-5"}
				%label{for:"star-5"}
			%input{type: "radio", name:"rating", id: "star-4"}
				%label{for:"star-4"}
			%input{type: "radio", name:"rating", id: "star-3"}
				%label{for:"star-3"}
			%input{type: "radio", name:"rating", id: "star-2"}
				%label{for:"star-2"}
			%input{type: "radio", name:"rating", id: "star-1"}
				%label{for:"star-1"}
		%br
		%br
		%br
		%br
		=button_tag "Avaliar", class: "avaliar-form btn btn-primary btn-sm"
		%a.close-reveal-modal ×
		:javascript
			$('.avaliar-form').on('click', function(e) {
				if($("#star-1").prop('checked') == false && $("#star-2").prop('checked') == false && $("#star-3").prop('checked') == false && $("#star-4").prop('checked') == false && $("#star-5").prop('checked') == false){
					return;
				}
				
				$.ajax({
					type: 'POST',
					url: '/fretes/avaliar_ajudante/',
					data: JSON.stringify ({
						frete_id: $("#frete_id").val(),
						star_1: $("#star-1").prop('checked'),
						star_2: $("#star-2").prop('checked'),
						star_3: $("#star-3").prop('checked'),
						star_4: $("#star-4").prop('checked'),
						star_5: $("#star-5").prop('checked'),
						helper_id: $("#selected_helper").val(),
					}),
					contentType: "application/json",
					dataType: 'json'
				}).done(function() {
					location.reload();
				});
			});