-if @fretes.blank?
	.alert.alert-success
		Ainda não foi criado nenhum frete! Realize um novo frete e acompanhe aqui pelo painel!
-else
	-if current_user.usuario
		- @fretes.each do |frete|
			.card
				.container
					.row
						.col-7
							=image_tag frete.build_link, class:"img-fluid max-width: 100% height: auto"
						.col-5
							%table.auto
								%th
									Endereço Origem
								%tr
									%td
										= "#{frete.rua_origem}, #{frete.numero_origem} - #{frete.bairro_origem}, #{frete.cidade_origem} - #{frete.uf_origem}, #{frete.cep_origem}"
							%br
							%table.auto
								%th
									Endereço Destino
								%tr
									%td
										= "#{frete.rua_destino}, #{frete.numero_destino} - #{frete.bairro_destino}, #{frete.cidade_destino} - #{frete.uf_destino}, #{frete.cep_destino}"
							%div{style: "padding-top: 10px;"}
								= "Distância entre origem e destino:  #{frete.origem_destino_km.to_i/1000} km"
							%div{style: "padding-bottom: 10px;padding-top: 10px;"}
								= "Quantidade de motoristas encontrados:  #{frete.results.where.not(driver_id: nil).count}"
							-if frete.fechado
								.alert.alert-danger.text-center
									Frete Fechado
							-elsif frete.concluido
								.alert.alert-success.text-center
									Frete Concluído
							-else
								.alert.alert-info.text-center
									Frete Aberto
							%table{width: "100%"}
								%tr
									%td{width: "33%"}
										-if frete.results.where.not(driver_id: nil).count > 0
											=link_to "Lista de Motoristas", dashboard_results_path(frete.id), class: "btn btn-primary btn-block btn-lg"
										-else
											=link_to "Lista de Motoristas", dashboard_results_path(frete.id), class: "btn btn-secondary btn-block disabled btn-lg"
									%td{width: "33%"}
										-if frete.fechado || frete.concluido
											=link_to "Alterar Frete", edit_fretes_path(id:frete.id), class: "btn btn-secondary btn-block disabled btn-lg"
										-else
											=link_to "Alterar Frete", edit_fretes_path(id:frete.id), class: "btn btn-primary btn-block btn-lg"
									%td{width: "33%"}
										-if frete.fechado || frete.concluido
											=link_to "Fechar Frete", fechar_fretes_path(id:frete.id), method: :post, class: "btn btn-secondary btn-block disabled btn-lg"
										-else
											=link_to "Fechar Frete", fechar_fretes_path(id:frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
	-elsif current_user.motorista
		- @fretes.each do |frete|
			.card
				.container
					.row
						.col-7
							=image_tag frete.build_link_motorista(current_user.motorista_id), class:"img-fluid max-width: 100% height: auto"
						.col-5
							%table.auto
								%th
									Endereço Origem
								%tr
									%td
										= "#{frete.rua_origem}, #{frete.numero_origem} - #{frete.bairro_origem}, #{frete.cidade_origem} - #{frete.uf_origem}, #{frete.cep_origem}"
							%br
							%table.auto
								%th
									Endereço Destino
								%tr
									%td
										= "#{frete.rua_destino}, #{frete.numero_destino} - #{frete.bairro_destino}, #{frete.cidade_destino} - #{frete.uf_destino}, #{frete.cep_destino}"
							%div{style: "padding-top: 10px;"}
								= "Distância entre origem e destino:  #{frete.origem_destino_km/1000} km"
							%br
							-if frete.fechado
								.alert.alert-danger.text-center
									Frete Fechado
							-elsif frete.concluido
								.alert.alert-success.text-center
									Frete Concluído
							-else
								.alert.alert-info.text-center
									Frete Aberto
							%table{width: "100%"}
								%tr
									%td{width: "33%"}
										-if frete.fechado || frete.concluido
											-if frete.results.where(solicitado_motorista_id: current_user.motorista_id).count > 0
												=link_to "Atualizar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-secondary btn-block btn-lg disabled"
											-else
												=link_to "Buscar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-secondary btn-block btn-lg disabled"
										-else
											-if frete.results.where(solicitado_motorista_id: current_user.motorista_id).count > 0
												=link_to "Atualizar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
											-else
												=link_to "Buscar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"

									%td{width: "33%"}
										-if frete.results.where(solicitado_motorista_id: current_user.motorista_id).count > 0
											=link_to "Lista de Ajudantes", dashboard_results_path(frete.id), class: "btn btn-primary btn-block btn-lg"
										-else
											=link_to "Lista de Ajudantes", dashboard_results_path(frete.id), class: "btn btn-secondary btn-block btn-lg disabled"
									%td{width: "33%"}
										=link_to "Ocultar Frete", not_show_fretes_path(id:frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
	-elsif current_user.ajudante
		= javascript_pack_tag "reveal.js"
		- @fretes.each do |frete|
			.card
				.container
					.row
						.col-7
							=image_tag frete.build_link_ajudante(current_user.ajudante_id), class:"img-fluid max-width: 100% height: auto"
						.col-5
							%table.auto
								%th
									Endereço Origem
								%tr
									%td
										= "#{frete.rua_origem}, #{frete.numero_origem} - #{frete.bairro_origem}, #{frete.cidade_origem} - #{frete.uf_origem}, #{frete.cep_origem}"
							%br
							%table.auto
								%th
									Endereço Destino
								%tr
									%td
										= "#{frete.rua_destino}, #{frete.numero_destino} - #{frete.bairro_destino}, #{frete.cidade_destino} - #{frete.uf_destino}, #{frete.cep_destino}"
							%div{style: "padding-top: 10px;"}
								= "Distância entre origem e destino:  #{frete.origem_destino_km/1000} km"
							%br
							-if frete.fechado
								.alert.alert-danger.text-center
									Frete Fechado
							-elsif frete.concluido
								.alert.alert-success.text-center
									Frete Concluído
							-else
								.alert.alert-info.text-center
									Frete Aberto
							%table{width: "100%"}
								%tr
									/ %td{width: "33%"}
									/ 	-if frete.results.where(solicitado_motorista_id: current_user.motorista_id).count > 0
									/ 		=link_to "Atualizar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
									/ 	-else
									/ 		=link_to "Buscar Ajudantes", solicitar_ajudante_fretes_path(id: frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
									%td{width: "33%"}
										-if frete.concluido && Rating.where(frete_id: frete.id, nota_pelo_ajudante: true).first.blank?
											/ =link_to "Concluir", "#", class: "btn btn-secondary float-left btn-sm disabled", "data-animation" => "fade", "data-reveal-id" => "myModal", "driver_id" => result.driver_id
											=link_to "Avaliar Motorista", "#", class: "btn btn-primary btn-block btn-lg", "data-animation" => "fade", "data-reveal-id" => "myModal", "frete_id" => frete.id
										-else
											=link_to "Avaliar Motorista", dashboard_results_path(frete.id), class: "btn btn-secondary btn-block btn-lg disabled"
									%td{width: "33%"}
										=link_to "Ocultar Frete", not_show_ajudante_fretes_path(id:frete.id), method: :post, class: "btn btn-primary btn-block btn-lg"
		#myModal.reveal-modal.text-center
			=hidden_field_tag :selected_frete, value: ''
			%h2 Avalie seu frete!
			%p Sua opinião é importante para nós!
			%p Avaliação do motorista
			.rating-wrapper
				%input{type: "radio", name:"rating", id: "star-5"}
					%label{for:"star-5"}
				%input{type: "radio", name:"rating", id: "star-4"}
					%label{for:"star-4"}
				%input{type: "radio", name:"rating", id: "star-3"}
					%label{for:"star-3"}
				%input{type: "radio", name:"rating", id: "star-2"}
					%label{for:"star-2"}
				%input{type: "radio", name:"rating", id: "star-1"}
					%label{for:"star-1"}
			%br
			%br
			%br
			%br
			=button_tag "Avaliar", class: "avaliar-form btn btn-primary btn-sm"
			%a.close-reveal-modal ×
			:javascript
				$('.avaliar-form').on('click', function(e) {
					if($("#star-1").prop('checked') == false && $("#star-2").prop('checked') == false && $("#star-3").prop('checked') == false && $("#star-4").prop('checked') == false && $("#star-5").prop('checked') == false){
						return;
					}
						$.ajax({
							type: 'POST',
							url: '/fretes/ajudante_avaliar_motorista/',
							data: JSON.stringify ({
								frete_id: $("#selected_frete").val(),
								star_1: $("#star-1").prop('checked'),
								star_2: $("#star-2").prop('checked'),
								star_3: $("#star-3").prop('checked'),
								star_4: $("#star-4").prop('checked'),
								star_5: $("#star-5").prop('checked'),
							}),
							contentType: "application/json",
							dataType: 'json'
						}).done(function() {
						location.reload();
					});
				});