-@results.each do |result|
	%div.card
		%div.container
			%table.auto
				%th
					Nome
				%th
					Origem-Destino
				%th
					Origem-Motorista
				%th
					Destino-Motorista
				%th
					Valor Base
				%th
					Valor por Km
				%th
					Valor Total
				%tr
					%td
						= result.driver.nome
					%td
						= "#{result.origem_destino_km/1000} Km"
					%td
						= "#{result.origem_motorista_km/1000} Km"
					%td
						= "#{result.destino_motorista_km/1000} Km"
					%td
						= "R$ #{result.valor_base}"
					%td
						= "R$ #{result.valor_km}"
					%td
						= "R$ #{result.valor_base + (result.valor_km/1000*(result.origem_motorista_km + result.destino_motorista_km + result.origem_destino_km))}"
			%br
			=link_to "Detalhes", result_path(result.id), class: "btn btn-primary float-right"