-if current_user.usuario
	%div.card
		%div.container
			%h3
				= @result.driver.nome
			%br
			%h5
				Contato
			%table.auto
				%th
					E-mail
				%th
					Telefone
				%th
					Celular
				%tr
					%td
						= @driver.email
					%td
						= @driver.telefone
					%td
						= @driver.celular
			%br
			%h5
				Informações do Frete
			%br
			%table.auto
				%th
					Endereço Origem
				%tr
					%td
						= "#{@frete.rua_origem}, #{@frete.numero_origem} - #{@frete.bairro_origem}, #{@frete.cidade_origem} - #{@frete.uf_origem}, #{@frete.cep_origem}"
			%br
			%table.auto
				%th
					Endereço de Destino
				%tr
					%td
						= "#{@frete.rua_destino}, #{@frete.numero_destino} - #{@frete.bairro_destino}, #{@frete.cidade_destino} - #{@frete.uf_destino}, #{@frete.cep_destino}"
			%br
			%table.auto
				%th
					Endereço de Saída do Motorista
				%tr
					%td
						= "#{@driver.rua}, #{@driver.numero} - #{@driver.bairro}, #{@driver.cidade} - #{@driver.uf}, #{@driver.cep}"
			%br
			%br
			.row
				.col-12
					.row
						.col-4
							%b Origem-Destino
						.col-4
							%b Origem-Motorista
						.col-4
							%b Destino-Motorista
					.row
						.col-4
							= "#{@result.origem_destino_km/1000} Km"
						.col-4
							= "#{@result.origem_motorista_km/1000} Km"
						.col-4
							= "#{@result.destino_motorista_km/1000} Km"
			%br
			.row
				.col-12
					.row
						.col-4
							%b Valor Base
						.col-4
							%b Valor por KM
						.col-4
							%b Valor Total
					.row
						.col-4
							= "R$ #{@result.valor_base.real.to_s}"
						.col-4
							= "R$ #{@result.valor_km.real.to_s}"
						.col-4
							= "R$ #{(@result.valor_base + (@result.valor_km/1000*(@result.origem_motorista_km + @result.destino_motorista_km + @result.origem_destino_km))).real.to_s}"
			%br
-elsif current_user.motorista
	%div.card
		%div.container
			%h3
				= @result.helper.nome
			%br
			%h5
				Contato
			%table.auto
				%th
					E-mail
				%th
					Telefone
				%th
					Celular
				%tr
					%td
						= @helper.email
					%td
						= @helper.telefone
					%td
						= @helper.celular
			%br
			%h5
				Informações do Frete
			%br
			%table.auto
				%th
					Endereço Origem
				%tr
					%td
						= "#{@frete.rua_origem}, #{@frete.numero_origem} - #{@frete.bairro_origem}, #{@frete.cidade_origem} - #{@frete.uf_origem}, #{@frete.cep_origem}"
			%br
			%table.auto
				%th
					Endereço de Destino
				%tr
					%td
						= "#{@frete.rua_destino}, #{@frete.numero_destino} - #{@frete.bairro_destino}, #{@frete.cidade_destino} - #{@frete.uf_destino}, #{@frete.cep_destino}"
			%br
			%table.auto
				%th
					Endereço do Ajudante
				%tr
					%td
						= "#{@helper.rua}, #{@helper.numero} - #{@helper.bairro}, #{@helper.cidade} - #{@helper.uf}, #{@helper.cep}"
			%br
			%br
			.row
				.col-12
					.row
						.col-4
							%b Origem-Ajudante
						.col-4
							%b Ajudante-Motorista
						.col-4
							%b Valor Base
					.row
						.col-4
							= "#{@result.origem_ajudante_km/1000} Km"
						.col-4
							= "#{@result.ajudante_motorista_km/1000} Km"
						.col-4
							= "R$ #{@result.valor_base.real.to_s}"
			%br
