.central
  .card
    %h2 Alterar Senha
    = render "devise/shared/error_messages", resource: resource
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Aguardando a confirmação: #{resource.unconfirmed_email}
      .form-group
        = f.label :password
        %i (Deixe em branco se não quiser alterar)
        = f.password_field :password, autocomplete: "new-password", class:"form-control"
        - if @minimum_password_length
          %em
            (mínimo de #{@minimum_password_length} caracteres)
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"
      .form-group
        = f.label :current_password
        %i (nós precisamos da senha atual para alterar)
        %br
        = f.password_field :current_password, autocomplete: "current-password", class:"form-control"
      .actions
        = f.submit "Alterar", class:'btn btn-primary float-right'
    / %h3 Cancel my account
    / %p
    /   Unhappy?
    / %p
    /   =link_to "Cancelar Conta", registration_path(resource_name), class: "btn btn-primary float-left btn-sm"
    / = link_to "Back", :back