.central
  .card
    %h2 Inscrever-se
    = render "devise/shared/error_messages", resource: resource
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (mínimo de #{@minimum_password_length} caracteres)
        = f.password_field :password, autocomplete: "new-password", class:"form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"
      .form-row
        .col
          = render "devise/shared/links"
        .col
          = f.submit "Inscrever-se", class:'btn btn-primary float-right'