= javascript_pack_tag "busca_cep.js"
= javascript_pack_tag "set_mask.js"
= bootstrap_form_with(model: @person, url: people_path, class: "needs-validation", html: { novalidate: true }) do |form|
	=form.hidden_field :id
	.card
		-if @person.new_record?
			%h5 Cadastrar Usuário
		-else
			%h5 Editar Usuário
		.row
			.col-5
				=form.text_field :nome, required: true
			.col-4
				=form.text_field :cpf, class: "c_cpf", required: true
			.col-3
				=form.text_field :data_nascimento, value: (l(form.object.data_nascimento) rescue nil), class: "c_data"
			.col-4
				=form.text_field :email, required: true
			.col-3
				=form.text_field :telefone, class: "c_telefone"
			.col-3
				=form.text_field :celular, class: "c_celular"
		.row
			.col-2
				=form.text_field :cep, class: "c_cep", id: "cep", required: true
			.col-8
				=form.text_field :rua, id: "rua", required: true
			.col-2
				=form.text_field :numero, required: true
			.col-4
				=form.text_field :complemento
			.col-3
				=form.text_field :bairro, id: "bairro"
			.col-3
				=form.text_field :cidade, id: "cidade", required: true
			.col-2
				=form.select :uf, options_for_select(@estados, form.object.uf),{}, id: "uf", required: true
		.row
			.col
				-if @person.new_record?
					= form.submit "Gravar", id: "btn", class: "btn btn-primary float-right"
				-else
					= form.submit "Salvar Alterações", id: "btn", class: "btn btn-primary float-right"
:javascript
	(function() {
	'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();