.central
	.card
		%h2 Esqueceu sua senha?
		= render "devise/shared/error_messages", resource: resource
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
			.form_group
				= f.label :email
				= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
			%br
			.form-row
				.col
					= render "devise/shared/links"
				.col
					= f.submit "Enviar email de recuperação", class:'btn btn-primary float-right'