#sidebar
  %header
    -if user_signed_in?
      %a{:href => '/'}=image_tag "mudfacil_texto.png", :style => 'padding: 10px;'
    -else
      %a{:href => '/users/sign_in'}=image_tag "mudfacil_texto.png", :style => 'padding: 10px;'
  %ul.nav
    -if user_signed_in?
      %li
        %a{:href => '#homeSubmenu', "data-toggle"=>"collapse", class:"fas fa-user-circle"}
          %span Olá, #{current_user.user_name}
        %ul.collapse.list-unstyled#homeSubmenu
          %li
            %a{:href => '/users/sign_out', class:"fas fa-door-closed"}
              %span Sair
          %li
            %a{:href => '/users/edit', class:"fas fa-user-edit"}
              %span Alterar Senha
      - if current_user.is_complete
        -if current_user.usuario
          %li
            %a{:href => '/fretes/new', class:"fas fa-route"}
              %span Novo Frete
        %li
          %a{:href => '/dashboard', class:"fas fa-th-list"}
            %span Painel
        -if current_user.usuario
          %li
            = link_to "<span>Editar Usuário</span>".html_safe, edit_people_path(id: current_user.usuario_id),class: "fas fa-user"
        -elsif current_user.motorista
          %li
            = link_to "<span>Editar Motorista</span>".html_safe, edit_drivers_path(id: current_user.motorista_id),class: "fas fa-truck"
        -elsif current_user.ajudante
          %li
            = link_to "<span>Editar Ajudante</span>".html_safe, edit_helpers_path(id: current_user.ajudante_id),class: "fas fa-people-carry"
      -else
        %li
          %a{:href => '/people/new', class:"fas fa-user"}
            %span Cadastrar Usuário
        %li
          %a{:href => '/drivers/new', class:"fas fa-truck"}
            %span Cadastrar Motorista
        %li
          %a{:href => '/helpers/new', class:"fas fa-people-carry"}
            %span Cadastrar Ajudante
      %li
        %a{:href => '/help', class:"fas fa-question-circle"}
          %span Ajuda
    -else
      %li
        %a{:href => '/users/sign_in', class:"fas fa-door-open"}
          %span Entrar
      %li
        %a{:href => '/users/sign_up', class:"fas fa-user-edit"}
          %span Cadastre-se
      / %li
      /   %a{:href => '/users/password/new', class:"far fa-user"}
      /     %span Esqueceu?

:javascript
  $(document).on("click", "li", function() {
    window.location = $(this).find("a").attr("href");
  });