= javascript_pack_tag "busca_cep.js"
= javascript_pack_tag "set_mask.js"
= bootstrap_form_with(model: @helper, url: helpers_path, class: "needs-validation", html: { novalidate: true }) do |f|
	=f.hidden_field :id
	.card
		-if @helper.new_record?
			%h5 Cadastrar Ajudante
		-else
			%h5 Editar Ajudante
		.row
			.col-5
				=f.text_field :nome, required: true
			.col-4
				=f.text_field :cpf, class: "c_cpf", required: true
			.col-3
				=f.text_field :data_nascimento, value: (l(f.object.data_nascimento) rescue nil), class: "c_data"
			.col-4
				=f.text_field :email, required: true
			.col-3
				=f.text_field :telefone, class: "c_telefone"
			.col-3
				=f.text_field :celular, class: "c_celular"
		.row
			.col-3
				=f.text_field :area_km, required: true
			.col-2
				=f.text_field :valor, class: "c_dinheiro", required: true
		.row
			.col-2
				=f.text_field :cep, class: "c_cep", id: "cep", required: true
			.col-8
				=f.text_field :rua, id: "rua", required: true
			.col-2
				=f.text_field :numero, required: true
			.col-4
				=f.text_field :complemento
			.col-3
				=f.text_field :bairro, id: "bairro"
			.col-3
				=f.text_field :cidade, id: "cidade", required: true
			.col-2
				=f.select :uf, options_for_select(@estados, f.object.uf),{}, id: "uf", required: true
		.row
			.col
				-if @helper.new_record?
					= f.submit "Gravar", id: "btn", class: "btn btn-primary float-right"
				-else
					= f.submit "Salvar Alterações", id: "btn", class: "btn btn-primary float-right"
:javascript
	(function() {
	'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();