.central
  .card
    %h2 Entrar
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "current-password", class:"form-control"
      - if devise_mapping.rememberable?
        .form-check
          = f.check_box :remember_me, class:"form-check-input"
          = f.label :remember_me, class:"form-check-label"
      .form-row
        .col
          = render "devise/shared/links"
        .col
          = f.submit "Entrar", class:'btn btn-primary float-right'