.form_group
	.row.mt-3.mb-3
		.col-5
			=pessoa.label :nome
			=pessoa.text_field :nome, class: "form-control"
		.col-4
			=pessoa.label :cpf
			=pessoa.text_field :cpf, class: "form-control c_cpf"
		.col-3
			=pessoa.label :data_nascimento
			=pessoa.text_field :data_nascimento, class: "form-control c_data"
	.row.mt-3.mb-3
		.col-4
			=pessoa.label :email
			=pessoa.text_field :email, class: "form-control"
		.col-3
			=pessoa.label :telefone
			=pessoa.text_field :telefone, class: "form-control c_telefone"
		.col-3
			=pessoa.label :celular
			=pessoa.text_field :celular, class: "form-control c_celular"
	.row.mt-3.mb-3
		.col-4
			=pessoa.label :cnh
			=pessoa.text_field :cnh, class: "form-control c_cnh"