/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#content {
  padding: 10px;
  padding-left: 230px;
  width: 100%;
  position: relative;
}

.btn-primary {
  background-color: #03117b;
  border-color: #03117b;
}

.btn-primary:hover {
  background-color: #38418f;
  border-color: #38418f;
}

/* Sidebar Styles */

#sidebar {
  position: fixed;
  width: 220px;
  height: 100%;
  overflow-y: auto;
  background: #03117b;
  z-index: 50;
}

#sidebar header {
  background-color: #03117b;
  font-size: 15px;
  line-height: 52px;
  text-align: center;
  /*border-bottom: 1px solid #ffc000;*/
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

.nav a{
  display: block;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: none;
  color: #CFD8DC;
  font-size: 15px;
  color: #ffffff;
}

/*#sidebar .nav i{
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: none;
  color: #CFD8DC;
  font-size: 15px;
  color: #ffffff;
}*/
#sidebar .nav span{
  font-family: 'Roboto', sans-serif;
  padding-left: 16px !important;
  font-weight: 500;
}

#sidebar .nav a:hover{
  background: none;
  color: #f5eed7;
  text-decoration: none;
}

.nav li:hover{
  background: #38418f;
  cursor: pointer;
}

.nav li{
  width: 100%;
  background:#03117b;
  padding: 0;
}

/*-------------------------*/

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  padding: 10px;
  margin-bottom: 12px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

table.auto {
  table-layout: auto;
  width: 100%;
}

table.format3 {
  /*table-layout: auto;*/
  width: 100%;
}

table.format3 td{
  width: 33%;
}

.responsive {
  max-width: 70%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.responsive-full {
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.central{
  max-width: 400px;
  margin: auto;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.fas::before{
  font-size: 18px;
}

.far::before{
  font-size: 18px;
}

.fa-user::before{
  font-size: 21px;
}

.nota .fa-star-half{
  color: #f2dc18;
}

.nota .fa-star{
 color: #f2dc18;
}

.nota .fas{
  font-size: 18px;
}

.nota .far{
  font-size: 18px;
}

ul ul a{
    font-size: 0.9em !important;
  }

ul ul i{
    font-size: 0.9em !important;
    padding-left: 50px !important;
}

.rating-wrapper{
  direction: rtl;
}

.rating-wrapper input{
  display: none;
}

.rating-wrapper label{
  display: inline-block;;
  width: 60px;
  position: relative;
  cursor: pointer;
}

.rating-wrapper label:before{
  content: "\2605";
  position: absolute;
  font-size: 50px;
  display: inline-block;
  top: 200;
  left: 0;
}

.rating-wrapper label:after{
  content: "\2605";
  position: absolute;
  font-size: 50px;
  display: inline-block;
  top: 200;
  left: 0;
  color: #f2dc18;
  opacity: 0;
}

.rating-wrapper label:hover:after,
.rating-wrapper label:hover ~ label:after,
.rating-wrapper input:checked ~ label:after{
  opacity: 1;
}

.form-control.is-valid, .was-validated .form-control:valid{
  border-color: #ced4da;
  background-image: none;
}